/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define default_layer 0
#define _COLEMAK &to default_layer

#define qwerty_layer 1
#define _QWERTY &to qwerty_layer


#define num_sym_layer 2
#define _NUM_SYM &mo num_sym_layer

#define nav_fun_layer 3
#define _NAV_FUN &mo nav_fun_layer 

#define _____    &trans
#define _PTAB   &kp LC(PG_UP)
#define _NTAB   &kp LC(PG_DN)
#define _NWIN   &kp LA(TAB)
#define _PWIN   &kp LS(LA(TAB))
#define _LR_DN  &kp LA(DOWN)
#define _LR_UP  &kp LA(UP)

#define _LEFT   &kp LEFT
#define _DOWN   &kp DOWN
#define _UP     &kp UP
#define _RGHT   &kp RIGHT
#define _HOME   &kp HOME
#define _END    &kp END
#define _PGDN   &kp PG_DN
#define _PGUP   &kp PG_UP

#define _BT1    &bt BT_SEL 0
#define _BT2    &bt BT_SEL 1
#define _BTCLR  &bt BT_CLR

#define _OUTTOG &out OUT_TOG

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC    |  Q  |  W  |  F   |  P   |  G   |                                     |  J   |  L    |  U    |  Y   |   :   | Enter |
// | TAB/ctrl|  A  |  R  |  S   |  T   |  D   |                                     |  H   |  N    |  E    |  I   |   O   | ctrl  |
// | SHIFT   |  Z  |  X  |  C   |  V   |  B   |  atl  |  ----   |  |  ----  |  alt  |  K   |  M    |  ,    |  .   |   /   | shft  |
//                       | Meta | nav  | num  | space | qwerty  |  |colemak |  bspc | num  | nav   | meta  |
			bindings = <
	&kp ESC       &kp Q    &kp W   &kp F     &kp P     &kp G                                                 &kp J      &kp L     &kp U       &kp Y      &kp SEMI    &kp ENTER
	&mt LCTRL TAB &kp A    &kp R   &kp S     &kp T     &kp D                                                 &kp H      &kp N     &kp E       &kp I      &kp O       &kp LCTRL
	&kp LSHFT     &kp Z    &kp X   &kp C     &kp V     &kp B     &kp LALT   &none      &none      &kp RALT   &kp K      &kp M     &kp COMMA   &kp DOT    &kp FSLH    &kp RSHFT
								   &kp LMETA _NAV_FUN  _NUM_SYM  &kp SPACE  _QWERTY    _COLEMAK   &kp BSPC   _NUM_SYM   _NAV_FUN  &kp RMETA
			>;
		};

		qwerty_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | _____ |  Q  |  W  |  E  |  R  |  T  |                          |  Y  |  U  |  I  |  O  |  P  |_____|
// | _____ |  A  |  S  |  D  |  F  |  G  |                          |  H  |  J  |  K  |  L  |  '  |_____|
// | _____ |  Z  |  X  |  C  |  V  |  B  |_____|-----|  |-----|_____|  N  |  M  |  ,  |  .  |  /  |_____|
//                     |_____|_____|_____|_____|_____|  |_____|_____|_____|_____|_____|
			bindings = <
	_____ &kp Q  &kp W &kp E &kp R &kp T                                &kp Y &kp U &kp I     &kp O   &kp P    _____
	_____ &kp A  &kp S &kp D &kp F &kp G                                &kp H &kp J &kp K     &kp L   &kp SEMI  _____
	_____ &kp Z  &kp X &kp C &kp V &kp B _____ &none        &none _____ &kp N &kp M &kp COMMA &kp DOT &kp FSLH _____
			   _____ _____ _____ _____ _____        _____ _____ _____ _____ _____
			>;
		};

		num_sym_layer {
			bindings = <
	_____ &kp N1    &kp N2    &kp N3   &kp N4   &kp N5                              &kp N6    &kp N7   &kp N8    &kp N9    &kp N0    &kp DEL
	_____ &kp EXCL  &kp AT    &kp HASH &kp DLLR &kp PRCNT                           &kp CARET &kp AMPS &kp STAR  &kp LPAR  &kp RPAR  _____
	_____ &kp GRAVE &kp BSLH  &kp LBRC &kp RBRC &kp LBKT _____ &none    &none _____ &kp RBKT  &kp SQT  &kp UNDER &kp MINUS &kp PLUS  &kp EQUAL
				           _____ _____ _____ _____ _____    _____ _____ _____ _____ _____
			>;
		};

		nav_fun_layer {
			bindings = <
	_OUTTOG  _LR_UP  _HOME   _UP     _END    _PGUP                                _PGUP   _HOME   _UP     _END    _NWIN    _BT1
	_____    _LR_DN  _LEFT   _DOWN   _RGHT   _PGDN                                _PGDN   _LEFT   _DOWN   _RGHT   _PWIN    _BT2
	_____    &kp F1  &kp F2  &kp F3  &kp F4  &kp F5 _____ &none   &none _____ &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  _BTCLR
				    _____ _____ _PTAB _NTAB &kp F11   &kp F12 _PTAB _NTAB _____ _____
			>;
		};
	};
};

